<li>
	Question:
	{{question}} 
	Answer:
	{{answer}} 

	<button class="change-english" data-id="{{id}}" data-newenglish="{{english}}">
		{{#if english}}subject: english{{else}}another subject{{/if}}
	</button>

	<button class="delete-flashcard" data-id="{{this.id}}">DELETE!</button>
</li>
